*{
    margin: 0;
    padding: 0;
    font-family: 'Kadwa';
}
.landing-banner{
    width: 100%;
    height: 630px;

    background-color: rgb(26 32 43);
    color: rgb(59 255 225);
    font-family: 'Kadwa';
}.landing-banner .banner-cat{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 630px;

}.landing-banner .banner-img{
    width: 50%;
}
.landing-banner .banner-img{
    /* background-image: url('./media/IMG_20230320_201820_983-removebg-preview.png');
    background-repeat: no-repeat;
    background-size: cover; */
    width: 50%;
}
.landing .main-navbar{
    background-color: rgb(26 32 43);
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    align-items: center;
}
.landing .main-navbar .navbar-partOne-banner{
    width: 60%;
}
.landing .main-navbar .navbar-partTwo-banner{
    display: flex;
    justify-content: space-evenly;
    width: 40%;

}
.landing .main-navbar .navbar-partTwo-banner .about{
    text-decoration: none;
    color: rgb(59 255 225);
    font-size: 20px;
}
.landing .main-navbar .navbar-partTwo-banner .login{
    text-decoration: none;
    color: rgb(59 255 225);
    font-size: 20px;

}.user-login{
    opacity: .9;
    z-index: 2;
    position:absolute;
    top: 20%;
    left: 25%;
    width: 40%;
    box-shadow: 5px 6px 6px;
    /* background-color: rgb(0,0,0); /* Fallback color */
    /* background-color: rgba(0,0,0, 0.4);   */
    /* transform: translate(-50%, -50%); */

}
@media only screen and (max-width: 600px) {
   .user-login-form .p-inputtext{
        background-color:rgb(26 32 43);
        width: 10rem;
    }.user-login  {
        width: 80%;
        left: 1%;
        top: 10%;
    }
    .login-page .login-signup{
        color: rgb(59 255 225);
    }
    .login-page .account-signUp{
        color: rgb(119, 120, 120);
        text-align: center;
    
    }.blog-idea-service{
        width: 100%;
        box-shadow: 1px 2px 3px rgb(26 32 43);
        text-align: center;
    }.blog-service{
        width: 100%;
        box-shadow: 1px 2px 3px rgb(26 32 43);
        text-align: center;
    }.story-service{
        width: 100%;
        box-shadow: 1px 2px 3px rgb(26 32 43);
        text-align: center;
    }.services{
        height: 300px;
    }
}
@media only screen and (min-width: 600px) {
    .user-login-form .p-inputtext{
        background-color: rgb(26 32 43);
        width: 15rem;
    }.user-login  {
        width: 60%;
        left: 20%;
        top: 10%;
    }
    .login-page .login-signup{
        color: rgb(59 255 225);
    }
    .login-page .account-signUp{
        color: rgb(119, 120, 120);
        text-align: center;
    
    }.blog-idea-service{
        width: 100%;
        box-shadow: 1px 2px 3px rgb(26 32 43);
        text-align: center;
    }.blog-service{
        width: 100%;
        box-shadow: 1px 2px 3px rgb(26 32 43);
        text-align: center;
    }.story-service{
        width: 100%;
        box-shadow: 1px 2px 3px rgb(26 32 43);
        text-align: center;
    }.services{
        height: 300px;
    }
    
}
@media only screen and (min-width: 768px) {
.user-login-form .p-inputtext{
    background-color: rgb(26 32 43);
    width: 15rem;
}  .user-login  {
    width: 50%;
    left: 20%;
    top: 10%;
}
.login-page .login-signup{
    color: rgb(59 255 225);
}
.login-page .account-signUp{
    color: rgb(119, 120, 120);
    text-align: center;

}.user-sign-or{
    left: 20%;
    display: flex;
    justify-content: space-evenly;
    
}.register-page{
    width: 50%;
    left: 20%;
    top: 10%;
    height: 700px;
}
.admin-page{
    width: 100%;
    height: 730px;
    margin-top: -48px;
    background-color: rgb(28, 28, 28);
    

}
.admin-login{
    width: 60%;
    left: 20%;
    top: 10%;
    justify-content: center;
    align-items: center;
    height: 500px ;
    opacity: .5;
}.admin-body{
    height: 720px;
    width: 100%;
}.navbar-admin{
    width: 80%;
}.admin-login .p-inputtext{
    background-color:rgb(26 32 43);
    color: aliceblue;
}.generate-blog-topic-ideas{
    background-color:rgb(26 32 43);
    border: none;
}.services{
    width:30%;
    box-shadow: 1px 2px 3px rgb(26 32 43);
    text-align: center;
    height: 320px;
}

}
.logo-admin{
    text-align: center;
}
.admin-pages{
    width: 100%;
    text-align: center;
    height: 400px;
}
.admin-pages .nav-users{
    text-decoration: none;
    color: rgb(195, 195, 195);
    width: 100%;

}
.admin-pages .nav-users:hover{
    color:aquamarine;
    width: 100%;
}
.admin-pages .userpage{
    height: 35px;
    padding-top: 6px;

}
.admin-pages .userpage:hover{
    width: 100%;
    background-color: black;
    color: aquamarine;
}
.key-page{
    height: 35px;
    padding-top: 6px;

}
.key-page:hover{
    width: 100%;
    background-color: black;
    color: aquamarine;
}.prime-management{
    height: 35px;
    padding-top: 6px;
}
.prime-management:hover{
    width: 100%;
    background-color: black;
    color: aquamarine;
}



.register-page{
    opacity: .9;
    z-index: 2;
    position:absolute;
    top: 20%;
    left: 25%;
    width: 40%;
    box-shadow: 5px 6px 6px;
}
.re-background-img{
    background-image: url('./containers/user/media/1410223.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:900px;
    filter: blur(5px);
}
.login-page{
    margin-top: -50px;
    height: 770px;
}
.background-img{
    background-image: url('./containers/user/media/1410223.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:100%;
    filter: blur(5px);
}.user-login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}.generate-page{
    width: 100%;
    height: 800px;

}.generate-layout{
    width: 100%;
    height: 100%;
}.left-sidebar{
    background-color:rgb(26 32 43);
    width: 16%;
    height: 724px;
    position: fixed;
}
.generate-layout .right-sidebar{
    background-color: rgb(220, 220, 220);
    width: 20%;
}.generate-layout .generatePage-body{
    width: 100%;
}.generate-intro{
    background-color: #dfdfe1;
    width: 90%;
    height: 300px;
    color: rgb(26 32 43);
    font-size: 10px;
    box-shadow: 1;
    border-radius: 19px;
}.generate-intro .with-ai{
    color: #37dfc7;
}.generate-intro .text-block{
    margin-left: 5%;
}.generate-intro .new-button{
    background-color:rgb(26 32 43) ;
    color:white;
    border: none;
}.generate-intro .new-button:hover{
    background-color:#37dfc7 ;
    color:white;
}.generate-intro .intro-new{
    display: flex;
    flex-direction: column;
    align-items: center;
}.layout{
    width: 100%;
    display: flex;
    
}.side-bar-items{
    height: 100%;
    display: flex;
    flex-direction: column;

    align-items: center;
}.user-logout{
    text-decoration: none;
    color: rgb(148, 148, 149);
}.side-bar-items .signout-icon{
    width: 20%;
}.side-bar-items .signout{
    width: 80%;
}.signout-icon .sign-out-icon{
    color: rgb(148, 148, 149);
}.layout .layout-children{
    width: 80%;
}.layout .layout-sidebar{
    width: 20%;
}.logout-user{
    height: 30px;
    width: 57%;

}

.layout-admin{
    width: 100%;
    display: flex;
}.layout-sidebar-admin{
    width: 20%;

}.layout-children-admin{
    width: 80%;
}
.admin-logo{
    text-decoration: none;
    color:rgb(148, 148, 149);
}
.create-from-landing{
    background-color: #37dfc7;
    border: none;
}
.landing-create{
    color: #dfdfe1;
    text-decoration: none;
}.navlink{
    text-decoration: none;
}.content-card{
    background-color: rgb(26 32 43) ;
    color: #dfdfe1;
    
}
.service-category{
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    color: #dfdfe1;
    height: auto;
    left: 10%;

}.blog-idea{
    height: 25%;
}
.blog-idea-logo{
    font-size: 3rem;

    color: #4285f4;
}.blog-idea-assistant .heading{
    width: 100%;
    font-size: 1rem;
    color:  rgb(26 32 43);
}.blog-idea .blog-idea-assistant{
    height: 25%;
}.blog-idea-assistant{
    width: 100%;
    
}.new-button .navlink{
    color:#dfdfe1;
}#blog-idea .para-idea{
    text-align: center;
    font-size: .8rem;
    color:  rgb(26 32 43);
}#blog-idea{
    color:  rgb(26 32 43);
}#blog-idea .navlink{
    color:#dfdfe1;
    
}#blog-idea .create-button{
    background-color: rgb(26 32 43);
}#blog-idea .create-button:hover{
    animation: pulse 1s infinite;
    transition: .3s;
  }
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    70% {
      transform: scale(.9);
    }
      100% {
      transform: scale(1);
    }
  }
  .content-card{
    width: 90%;
  }.blog-gen-logo{
    font-size: 3rem;

    color: #359f6d;
  }.blog-service .para-blog{
    text-align: center;
    font-size: .8rem;
    color:  rgb(26 32 43);
  }
  .blog-service .navlink{
    color:#dfdfe1;
  }
  .blog-service .create-button{
    background-color: rgb(26 32 43);
}.blog-service .create-button:hover{
    animation: pulse 1s infinite;
    transition: .3s;
    background-color: rgb(26 32 43);
  }
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    70% {
      transform: scale(.9);
    }
      100% {
      transform: scale(1);
    }
  }
  .story-ass .story-logo{
    font-size: 3rem;
    height: 25%;
    color: #ffb900;
  }.blog-logo{
    height:25%;
  }.story-ass .para-story{
    text-align: center;
    font-size: .8rem;
    color:  rgb(26 32 43);
  }.story-ass .create-button{
    background-color: rgb(26 32 43);
  }
  .story-ass .create-button:hover{
    animation: pulse 1s infinite;
    transition: .3s;
    background-color: rgb(26 32 43);
  }
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    70% {
      transform: scale(.9);
    }
      100% {
      transform: scale(1);
    }
  
  }
  .story-ass .heading{
    width: 100%;
    font-size: .95rem;
    color:  rgb(26 32 43);
}
  .story-ass .navlink{
    color:#dfdfe1;
  }
  .loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .generation-block{
    overflow-x: inherit;
  }.p-slider.p-slider-horizontal {
    height: 0.286rem;
    width: 95%;
}.p-slider-horizontal .p-slider-range {
    top: 0;
    left: 0;
    height: 100%;

    background-color: rgb(26 32 43);
}.blog-form{
    width: 90%;
}.generatePage-body .chat-block{
    width: 90%;
    height: 200px;
    background-color:  rgb(26 32 43);
    margin-top: 10%;
    color: rgb(59 255 225);
}.carousel {
    position: relative;
    height: 200px;
}.carousel-dark .carousel-caption {
    color: #a4a4a4;
}.carousel-dark .carousel-indicators [data-bs-target] {
    background-color: #9f9f9f;
}.carousel-image-style{
    -webkit-filter: blur(8px);
}.side-bar-item-link{
    text-decoration: none;
    color:#dfdfe1
}.side-bar-items .line{
    font-size: 10px;
}.side-bar-items .generate-block{
    font-size: 80px;
    color:#dfdfe1;
    border: #ffffff;

}.dashboard-icon{
    width: 20%;
}.dashboard{
    width: 80%;
    color: rgb(148, 148, 149);
}.dashboard .dashboard-logo{
    color: rgb(148, 148, 149);
}
.dashboard-icons{
    color: rgb(148, 148, 149);
}